<h2 class="section-header">Sign In</h2>

<div class="row">
  <%= form_tag "/authenticate", "class" => "col-md-5" do  %>

    <div class="form-group">
      <div class="section-sub-header"><%= label_tag "username" %></div>
      <%= text_field_tag "username", "", "class" => "form-control" %>
    </div>

    <div class="form-group">
      <div class="section-sub-header"><%= label_tag "password" %></div>
      <%= password_field_tag "password", "", "class" => "form-control" %>
    </div>

    <%= submit_tag "Log In", "class" => "btn btn-success" %> or <a href="/">Cancel</a>

  <% end %>
</div>
