<% comment = Comment.find_by("id" => params["id"]) %>

<h2 class="section-header">Edit Your Update</h2>

<%= form_tag "/comments/#{comment["id"]}", "method" => "patch" %>

  <div class="form-group">
    <label class="col-sm-2 control-label">Update</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="summary" value="<%= comment["summary"] %>">
    </div>
  </div>

<!--   <div class="form-group">
    <label class="col-sm-2 control-label">Project Name</label>
    <div class="col-sm-10">
    <%= select_tag "project_name", options_from_collection_for_select(Project.read.order("project_name"), "project_name", "project_name"), "class" => "form-control" %>
    </div>
  </div>
 -->
<%= submit_tag "Save Changes", "class" => "btn btn btn-success" %> or <%= link_to "Cancel", "/projects/#{cookies["current_project"]}" %>
