<h2 class="section-header">Create New Family Account</h2>

<div class="row">
  <div class="col-md-5">

    <p><%= @message %></p>

    <%= form_tag "/families", "method" => "post"  %>

      <div class="form-group">
        <div class="section-sub-header"><%= label_tag "family_name", "Family's Name: Ex. Hollub Family" %></div>
        <%= text_field_tag "family_name", "", "class" => "form-control" %>
      </div>

      <%= submit_tag "Create Family Account", "class" => "btn btn btn-success" %> or <%= link_to "Cancel", "/admin" %>

    </form>
</div>
</div>
