<h2 class="section-header">Edit Profile</h2>

<% the_user = User.read(params["id"]) %>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/users/#{the_user['id']}", "method" => "patch"  %>

      <div class="form-group">
        <div class="section-sub-header"><%= label_tag "username", "Username:" %></div>
        <%= text_field_tag "username", the_user["username"], "class" => "form-control" %>
      </div>

      <div class="form-group">
        <div class="section-sub-header"><%= label_tag "password", "Password:" %></div>
        <%= password_field_tag "password", the_user["password"], "class" => "form-control" %>
      </div>

      <div class="form-group">
        <div class="section-sub-header"><%= label_tag "name", "Your Name:" %></div>
        <%= text_field_tag "name", the_user["name"], "class" => "form-control" %>
      </div>

      <%= submit_tag "Save Changes", "class" => "btn btn btn-success" %> or <%= link_to "Cancel", "/users/#{the_user["id"]}" %>

    </form>
</div>
</div>
