<h2>My Profile</h2>

<% the_user = User.read(params["id"]) %>
<% the_user_id = the_user["id"] %>
<% the_family = Family.find_by("id" => the_user["family_id"]) %>

<div class="row">

  <div class="col-md-8">

      <div class="row">
        <div class="col-md-2">
          <h4><font color="#e44628">Name: </font></h4>
        </div>
        <div class="col-md-10">
          <h4><%= @user["name"] %></font></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h4><font color="#e44628">Username: </font></h4>
        </div>
        <div class="col-md-10">
          <h4><%= @user["username"] %></h4>
        </div>
      </div>

     <div class="row">
        <div class="col-md-2">
          <h4><font color="#e44628">Member Of: </font></h4>
        </div>
        <div class="col-md-10">
          <h4><%= the_family["family_name"] %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h4><font color="#e44628">Joined: </font></h4>
        </div>
        <div class="col-md-10">
          <h4><%= the_user.created_at.strftime("%b %d, %y") %></h4>
        </div>
      </div>

  </div>

</div>
<BR>

<a href="/users/<%= the_user_id %>/edit"><button type="button" class="btn btn-info"> Edit Login Information </button></a>

<HR>
