<% users = User.find_by("id" => cookies["user_id"]) %>
<% projects = Project.where("client_name" => users["client_name"]) %>

<% projects.each do |project| %>
<% projectid = project.id %>

<HR>

<div class="row">

  <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <h1><%= project["project_name"] %></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Address: </font><%= project["project_address"] %></font></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Summary: </font><%= project["summary"] %></h4>
        </div>
      </div>

      <% gantts = Gantt.where("project_name" => project["project_name"]) %>
      <% gantts = gantts.order("created_at desc").limit(1) %>
      <% gantts.each do |gantt| %>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Project Status: </font></h4>
            <%= image_tag(gantt["gantt_url"], :width => 660) %>
        </div>
      </div>

      <% end %>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Recent Photos: </font></h4>

          <% photos = Photo.where("project_name" => project["project_name"]) %>
          <% photos = photos.order("created_at desc").limit(5) %>
          <% photos.each do |photo| %>

            <%= image_tag(photo["photo_url"], :width => 375) %>
            <%= photo["caption"] %>
            <br><br>

          <% end %>

        </div>
      </div>

  </div>

  <div class="col-md-4 well aside">

    <h3>Contractor Comments</h3>

      <ul>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
      </ul>

  </div>

  <HR>

  <div class="col-md-4 well aside">

    <h3>Client Comments</h3>

      <ul>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
      </ul>
  </div>

</div>

<% end %>
