<% users = User.find_by("id" => cookies["user_id"]) %>

<% if cookies["account_type"] == "admin" then %>

  <% projects = Project.order("created_at desc") %>

  <% else %>

    <% projects = Project.where("client_name" => users["client_name"]) %>
    <% projects = projects.order("created_at desc") %>

<% end %>

<% projects.each do |project| %>

  <div class="row">

    <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <h2 class="project-header"><%= project["project_name"] %></h2>
              <% if cookies["account_type"] == "admin" then %>
                (<%= link_to "Delete", "/projects/#{project["id"]}", "method" => "delete" %>)
              <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1">
            <h4 class="project-sub-header">Address:</h4>
          </div>
          <div class="col-md-11">
            <h4><%= project["project_address"] %></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1">
            <h4 class="project-sub-header">Summary:</h4>
          </div>
          <div class="col-md-11">
            <h4><%= project["summary"] %></h4>
          </div>
        </div>

        <BR>

        <a href="/projects/<%= project["id"] %>"><button type="button" class="btn btn-info"> View Project </button></a>

          <% if cookies["account_type"] == "admin" then %>

          | <a href="/projects/<%=(project["id"])%>/edit"><button type="button" class="btn btn-info"> Edit Project </button></a>

          <% end %>

          | <a href="https://www.google.com/maps/search/<%=(project["project_address"])%>"><button type="button" class="btn btn-info"> View in Google Maps </button></a>

        <HR>

    </div>

  </div>

<% end %>
