<% users = User.find_by("id" => cookies["user_id"]) %>

<% if cookies["account_type"] == "admin" then %>

  <% projects = Project.order("created_at desc") %>

    <h2>Admin View - All Projects</h2>

  <% else %>

    <% projects = Project.where("client_name" => users["client_name"]) %>
    <% projects = projects.order("created_at desc") %>

    <h2>My Projects</h2>

<% end %>

<hr>

<% projects.each do |project| %>

<div class="row">

  <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <h2><%= project["project_name"] %></h2>
            <% if cookies["account_type"] == "admin" then %>
              (<%= link_to "Delete", "/projects/#{project["id"]}", "method" => "delete" %>)
              (<%= link_to "Edit Project", "/projects/#{project["id"]}/edit" %>)
            <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Address: </font><%= project["project_address"] %></font></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Summary: </font><%= project["summary"] %></h4>
        </div>
      </div>

      <a href="/projects/<%= project["id"] %>"><button type="button" class="btn btn-info"> View This Project </button></a>

      <HR>

  </div>

</div>

<% end %>
