<% users = User.find_by("id" => cookies["user_id"]) %>
<% projectsid = params["id"] %>
<% projects = Project.where("id" => projectsid) %>

<% cookies["current_project"] = projectsid %>

<% projects.each do |project| %>

  <% user_client_id = users["client_name"] %>
  <% project_client_id = project["client_name"] %>

  <% if user_client_id != project_client_id and cookies["account_type"] != "admin" %>

    <h4 class="text-warning" align="center"><%= "You Are Not Authorized To View This Content!" %><h4>

  <% else %>

  <div class="row">

    <div class="col-md-8">

        <div class="row">
          <div class="col-md-12">
            <h2 class="project-header"><%= project["project_name"] %></h2>
            <% if cookies["account_type"] == "admin" then %>
              (<%= link_to "Delete Project", "/projects/#{project["id"]}", "method" => "delete" %>)
              (<%= link_to "Edit Project", "/projects/#{project["id"]}/edit" %>)
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h4 class="project-sub-header">Address:</h4>
          </div>
          <div class="col-md-10">
            <h4><%= project["project_address"] %></h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h4 class="project-sub-header">Summary:</h4>
          </div>
          <div class="col-md-10">
            <h4><%= project["summary"] %></h4>
          </div>
        </div>

        <% gantts = Gantt.where("project_id" => project["id"]) %>
        <% gantts = gantts.order("created_at desc").limit(1) %>
        <% gantts.each do |gantt| %>

          <div class="row">
            <div class="col-md-12">
              <h4 class="project-sub-header">Status:</h4>
                <% if cookies["account_type"] == "admin" then %>
                  (<%= link_to "Delete Gantt", "/gantts/#{gantt["id"]}", "method" => "delete" %>)
                  (<%= link_to "Edit Gantt", "/gantts/#{gantt["id"]}/edit" %>)
                  <br>
                <% end %>
                <%= image_tag(gantt["gantt_url"], :width => 660) %>
            </div>
          </div>

        <% end %>

        <div class="row">
          <div class="col-md-12">
            <h4 class="project-sub-header">Recent Photos:</h4>

            <% photos = Photo.where("project_id" => project["id"]) %>
            <% photos = photos.order("created_at desc").limit(5) %>
            <% photos.each do |photo| %>
                <% if cookies["account_type"] == "admin" then %>
                  (<%= link_to "Delete", "/photos/#{photo["id"]}", "method" => "delete" %>)
                  (<%= link_to "Edit Photo", "/photos/#{photo["id"]}/edit" %>)
                  <br>
                <% end %>
              <%= image_tag(photo["photo_url"], :width => 220) %>
              <%= photo["caption"] %>
              <br><br>

            <% end %>

          </div>
        </div>

    </div>

    <BR>

    <div class="col-md-4 well aside">

      <h4><%= link_to "Add Comment or Update", "/comments/new" %></h4>

    </div>

    <div class="col-md-4 well aside">

      <div class="side-bar-header"><h4>Project Comments & Updates</h4></div>

        <% projectupdates = Comment.where("project_id" => projectsid) %>
        <% projectupdates = projectupdates.order("created_at desc").limit(10) %>

          <ul>

          <% projectupdates.each do |projectupdate| %>

            <% project_update_user = User.find_by("id" => projectupdate["user_id"]) %>

            <li>
              <div class="comments"><%= project_update_user["name"] %>, <%= projectupdate.created_at.strftime("%b-%d") %></div> "<%= projectupdate["summary"] %>"
            </li>

            <hr>

          <% end %>

        </ul>

    </div>

    <HR>

  <% end %>

<% end %>
