<!DOCTYPE html>
<html>
  <head>
    <title>Hollub Homes Client Connection</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div align="center">
      <br>
      <img src="http://hollubhomes.com/site/images/logo.png" width="150" alt="Hollub Homes. relationship built." align="center">
      </img>
    </div>

    <div class="container">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h1 class="logo">Hollub Homes Client Connection</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
              <div class="top_link">
                <%= link_to "Client Connection Home", '/' %> |
                <%= link_to "Hollub Homes", "http://www.hollubhomes.com", "class" => "item-link"  %> |
                <%= link_to "Blog", "http://blog.hollubhomes.com", "class" => "item-link"  %>
              </div>
          </div>
          <div class="pull-right">
            <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
              <%= user["name"] %> |
              <%= link_to "My Profile", "/users/#{user["id"]}" %> |
              <% if cookies["account_type"] == "admin" then %>
                <%= link_to "Admin Console", "/admin" %> |
                <%= link_to "All Projects", "/projects" %> |
              <% else %>
                <%= link_to "My Projects", "/projects" %> |
              <% end %>
              <%= link_to "Sign Out", '/logout' %>
            <% else %>
              <%= link_to "Sign Up", '/users/new' %> |
              <%= link_to "Sign In", '/login' %>
            <% end %>
          </div>
      </div>

      <h5 class="text-warning" align="center"><%= notice %></h5>

      <HR>

      <%= yield %>

    <div>

  </body>

</html>
